/* 

-----以下オリジナル設定-----

・命名規則
ブランチ...(feature/bugの頭文字)(n.n)(機能名)
className...(機能名か目的)(タグ名)(Common)(Outer/Innner)

・テンプレート
export const LayoutMainI = () => {
  return (
    <>
      <div></div>

      <style jsx>{`
      `}</style>
    </>
  )
}

グローバル管理
・h1…クロロンフィルロゴ
・h2…24px navmenu内
・h3…32px pageタイトル
・h4…page内サブタイトル
・h5…ex)横髪、前髪

border-radius: 20px;

隙間
8px
16px
24px…pageサブタイトル
32px…pageタイトル
48px

*/

:root {
  --backgroundColor-base: #968e83;
  --backgroundColor-item: #ada79e;
  --backgroundColor-navO: rgba(124, 116, 105, 0.5);
  --backgroundColor-navI: #7c7469;
  --borderColor-section: #6e675e;
  --borderColor: #7c7469;
  --textColor-base: #ffffff;
  --textColor-navMenu: #b3b3b3;
  --textColor-title: #e6e6e6;

  --borderRadius-20: 20px;
  --settingManual-p8: 8px;
  --main-marginLR: 2.5vw;

  --transition1s: all 1s ease;
}

[data-theme='dark'] {
  --backgroundColor-base: #60646c;
  --backgroundColor-navO: rgba(72, 75, 81, 0.5);
  --backgroundColor-navI: #484b51;
  --backgroundColor-item: #6e737c;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Hiragino maru Gothic ProN W4', 'BIZ UDPGothic';
  font-weight: normal;
  color: var(--textColor-base);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--backgroundColor-base);
  transition: var(--transition1s);
}

/* h1…navMenu内ホームリンク */
/* h2…navMenu内リンク */
h2 {
  font-size: 16px;
  line-height: 1;
  white-space: nowrap;
  color: var(--textColor-navMenu);
}
/* h3…ページタイトル */
h3 {
  font-size: 32px;
  line-height: 1;
  color: var(--textColor-title);
}
/* h4…セクションタイトル */
h4 {
  font-size: 24px;
  line-height: 1;
  color: var(--textColor-title);
}
/* h5…コンテンツタイトル */
h5 {
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 10px;
  margin-bottom: 10px;
}

span {
  font-size: 10px;
}

li {
  list-style: none;
}

td {
  font-size: 10px;
}

video {
  max-width: 100%;
  max-height: 100%;
  border-radius: var(--borderRadius-20);
}

/* widthが1025x以上(pc版：デフォルト) */
/* widthが1024px以下(スマホ版） */
@media screen and (max-width: 1024px) {
  :root {
    --borderRadius-20: 12px;
    --settingManual-p8: 4px;
  }
  /* h3…ページタイトル */
  h3 {
    font-size: 24px;
  }
  /* h4…セクションタイトル */
  h4 {
    font-size: 18px;
  }
  p {
    font-size: 10px;
    line-height: 12px;
  }
}
/* widthが1024px以下かつ横画面(スマホ版） */
@media screen and (max-width: 1024px) and (orientation: landscape) {
}

/*
//幅が959px未満かつ横画面 (スマホ横)
@media screen and (max-width: 959px) and (orientation: landscape) {
}

幅が520px以上かつ縦画面 (タブレット縦)
@media screen and (min-width: 520px) and (orientation: portrait) {
}

幅が960px以上かつ横画面 (タブレット横、pc)
@media screen and (min-width: 960px) and (orientation: landscape) {
}
*/

/* ---------------------------------------------- */

/* :root {
  --max-width: 1100px;
  --border-radius: 20px;
  --font-mono: 'Hiragino maru Gothic ProN W4', ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
